{% extends 'balloon/base.html' %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
    <h4 align="center">Приветствую Вас "{{ user.username }}"! Добро пожаловать на наш сайт!</h4>
{% else %}
    <h4 align="center">Приветствую Гость! Добро пожаловать на наш сайт!</h4>
{% endif %}
<div align="center">
    <img src="{% static 'balloon/images/welcome.jpg' %}" height=300>
</div>
<h3><b>"Polet Vinnipuha"</b> поможет Вам сделать любые события или праздники незабываемыми!</h3>
<ul>
    <li>В своей работе мы используем индивидуальный подход к каждому клиенту. Мы поможем выбрать Вам необходимый подарок,
    который принесет позитивные эмоции и впечатления.</li><br>
    <li>Для нас очень важно чтобы каждый клиент был максимально доволен<a href="{% url 'works'%}"> нашей работой</a>.</li><br>
    <li>Для Вас представлен <a href="{% url 'home' %}">большой выбор</a> воздушных шаров для любых подарков и праздников.</li><br>
    <li>Мы так же можем собрать <b><i>уникальный</i></b> сет или букет воздушных шаров по Вашему желанию и вкусу.</li><br>
    <li>Доставляем 24/7 по Миснку и ближайшим пригородам <a href="{% url 'delivery'%}">(подробнее про доставку)</a>.</li><br>
    <li>Предоставляем возможность нанесение любых надписей на воздушные шары по Вашему желанию.</li><br>
    <li>Дополнительно можно упаковать шары в большую коробку-сюрприз.</li>
</ul>
{% endblock %}
