{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link type="text/css" href="{% static 'balloon/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'balloon/images/blue-balloon.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr bgcolor="ccffff">
	<td background="{% static 'balloon/images/sky-top.jpg' %}" height="100">
		<a href="{% url 'home' %}"><img src="{% static 'balloon/images/bear2.png' %}" align="left"></a>
		<h1 align="center"><i>Ваш любимый цвет, Ваш любимый размер!</i></h1>
		<h4 align="center">&#128071Звоните или пишите&#128071
				<br>+375 29 573 34 37 &#128242;<br>Ответим на все Ваши вопросы и подберем прекрасный подарок </h4>
		<div align="center">
			<a href="https://api.whatsapp.com/send?phone=375295733437" target="_blank">
			<img src="{% static 'balloon/images/whatsapp.png' %}" height=50 width=50>
			</a>
			<a href="https://www.instagram.com/polet_vinnipuha/" target="_blank">
			<img src="{% static 'balloon/images/instagram.png' %}" height=50 width=50>
			</a>
			<a href="https://viber.click/375295733437" target="_blank">
			<img src="{% static 'balloon/images/viber.png' %}" height=50 width=50>
			</a>
		</div>
	</td>
</tr>
<tr><td valign=top>
{% block mainmenu %}
	<div class="header">
		<ul id="mainmenu" class="mainmenu">
			{% for m in menu %}
				<li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
			{% endfor %}
			{% if request.user.is_authenticated %}
				{% if request.user.is_superuser %}
					<li class="last"> Администратор сайта &emsp;
						<a href="{% url 'logout' %}">Выйти</a>
					</li>
				{% else %}
					<li class="last"> Вы вошли как: "{{ user.username }}" &emsp;<a href="{% url 'logout' %}">Выйти</a></li>
				{% endif %}
			{% else %}
				<li class="last"><a href="{% url 'register' %}">Регистрация / </a>
					<a href="{% url 'login' %}">Войти</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if group_selected == 0 %}
			<li class="selected">Все категории:</li>
		{% else %}
			<li><a href="{% url 'home' %}">Все категории:</a></li>
		{% endif %}

		{% for g in groups %}
			{% if g.pk == group_selected %}
				<li class="selected">{{ g.name }}</li>
			{% else %}
				<li><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></li>
			{% endif %}
		{% endfor %}

		<li class="share">
		<p align="center">Подписывайтесь на нас в Instagram:</p>
		</li>
		<li>
			<a href="https://www.instagram.com/polet_vinnipuha/" target="_blank">
			<img src="{% static 'balloon/images/qr.png'%}" height=200 width=200></a>
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	{% if request.user.is_authenticated %}
		{% if request.user.is_superuser %}
		{% else %}
		<h4 align="center">Спасибо за регистрацию! При заказе сообщите промокод "MyItSchool" и получите
			<font color="red">скидку 5%</font> на заказ</h4>
		{% endif %}
	{% else %}
		<h4 align="center"><i><a href="{% url 'register' %}">После регистрации</a> Вам будет доступен <font color="red">промокод на скидку!</font> </i></h4>
	{% endif %}

<div class="content-text">

{% block content %}

{% endblock %}

{% if page_obj.has_other_pages %}
	<nav>
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}"><</a>
		{% endif %}

		{% for p in paginator.page_range %}
			{% if page_obj.number == p %}
				{{ p }}
			{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
				<a href="?page={{ p }}">{{ p }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">></a>
		{% endif %}
	</nav>
{% endif %}

</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>Разработчик: Горошко Василий Иванович. 2022</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
