{% extends 'balloon/base.html' %}
{% load static %}

{% block content %}
<div align="left">
    <img src="{% static 'balloon/images/delivery.jpg' %}">
</div>

<h2>Доставляем 24/7 по Миснку и ближайшим пригородам</h2>
<ul>
    <li>По Фрунзенскому району города Миснка - <b>бесплатно;</b></li><br>
    <li>В другие районы Минска - 7 рублей;</li><br>
    <li>При заказе от <font color="red">80 рублей</font> доставка по всему Минску <b>бесплатная;</b></li><br>
    <li>Даставка за пределы Минска оговоривается индивидуально;</li><br>
    <li>Перевозка Вашего заказа осуществляется в специальных транспортных пакетах. </li>
    При желании возможно приобретение заказа в транспортном пакете. Cтоимость: + 2 рубля за пакет.
</ul>

<div align="center">
    <img src="{% static 'balloon/images/delivery2.jpg' %}">
</div>

{% endblock %}