{% extends 'balloon/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for g in goods %}
		{% if g.photo %}
			<p>
				<a href="{{ g.get_absolute_url }}">
					<img class="img-article-left thumb" src="{{ g.photo.url }}" alt="picture of balloon">
				</a>
			</p>
		{% endif %}
			<li><h2><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></h2>
	{{ g.description|linebreaks|truncatewords:50 }}
	<h4>Цена: <font color="red">{{ g.price }} р.</font></h4>
			</li>
	{% endfor %}
</ul>
{% endblock %}
