{% extends 'balloon/base.html' %}

{% block content %}

<div align="right">
	сортировка:&nbsp;
	<a href="{% url 'home' %}">по дате&#8595; &nbsp;</a>
	<a href="{% url 'old_first' %}">по дате&#8593; &nbsp;</a>
	<a href="{% url 'expensive_first' %}">по цене&#8595; &nbsp;</a>
	<a href="{% url 'cheap_first' %}">по цене&#8593;</a>
</div>

<ul class="list-articles">
	{% for g in goods %}
		{% if g.photo %}
			<p><a href="{{ g.get_absolute_url }}">
			<img class="img-good-left thumb" src="{{ g.photo.url }}" alt="picture of balloon" hspace="30" ></a></p>
		{% endif %}
			<li><h2><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></h2>
				{{ g.description|linebreaks|truncatewords:40 }}
				<h4>Цена: <font color="red">{{ g.price }} р.</font></h4>
			</li>
	{% endfor %}
</ul>

{% endblock %}
